body{
    background-color: #212226;
    margin: 0;
    padding: 0;
}
.topnav{
    background-color: #1A181C;
    font-size: 44px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 44px;
}

.topnav a {
color: white;
margin:13px 13px 13px 13px;
padding-left: 5%;
text-decoration: none;
}

.btn{
    border: none;
    background-color: #504099;
    font-family: "Poppins";
    color: white;
    border-radius: 32px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin-left: 3%;
    cursor: pointer;
  }

  .flexbox{
      display: flex;

  }

  .right{
      margin-left: 30%;
      margin-top: 10%;

  }

  .left{
      margin-left: 10%;
      margin-top: 10%;
  }

  a:active{
      color: #BB86FC;

  }

  a:hover{
      color: #BB86FC ;
      transition: 1s;
  }